<!-- font-awsome表示されない -->
<% if book.favorited_by?(current_user) %>
	<div>
	    <%= link_to book_favorites_path(book), method: :delete do %>
	      <i class="fas fa-heart" aria-hidden="true" style="color: red;"></i>
	      ❤️<%= book.favorites.count %>
	    <% end %>
	</div>
<% else %>
  　<div>
	    <%= link_to book_favorites_path(book), method: :post do %>
	      <i class="far fa-heart" aria-hidden="true"></i>
	      ♡<%= book.favorites.count %>
	    <% end %>
    </div>
<% end %>