

<div class="container">
	<div class="row">
		<%= render 'users/profile', user: current_user, book: @book %>
		<!--メモ　右側の指定に注意。そこを間違えるとエラーが発生して表示されない -->

		<div class="col-xs-9">
			<%= render 'search/search_box' %>
			<h2>Users</h2>
			<!--users一覧 -->
			<%= render 'users/user_index', users: @users %>
		</div>

	</div>
</div>
<!--users一覧 -->

